/* import works sans font form google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,500;0,600;0,800;1,600;1,700&display=swap');

* {
    font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}